body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#SketchBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 85vw;
	height: 85vw;
}

.GridRow {
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin: 0;
}

.GridCell {
	margin: 0;
	width: 100%;
	border: 1px solid #E6E6E6;
}

.GridCell:hover {
	background-color: #E6E6E6;
}

.GridCellToggle {

}